<h1><%= link_to 'みにぶろぐ', posts_path %></h1>
<hr />

<% for post in @posts %>

  <h2><%=h post.title %></h2>

  <%=h post.body %><br />

  <br />

  <%= link_to 'この記事のURL', post %>
  <%= link_to '編集', edit_post_path(post) %>
  <!-- <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %> -->
  <hr />
<% end %>

<%= will_paginate @posts %>

<br />

<%= link_to '管理ページ', :action => 'admin' %>

